:root {
  --start-color: #7cc576;
  --start-color-alt: #46963f;
  --stop-color: #df4242;
  --stop-color-alt: #a01b1b;
}

html {
  font-size: 10px;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #222;
  margin: 0;
  color: white;
  font-weight: 100;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

#counter-screen {
  display: none;
}

/*==========  Base button  ==========*/
.button {
  font-size: 4rem;
  padding: 15px 50px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  color: #222;
  text-shadow: 1px 1px 1px white;
  transition: all 250ms ease;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  color: white;
}

/*==========  Active State  ==========*/
.button:active {
  position: relative;
  top: 5px;
  box-shadow: none;
  transition: all 250ms ease;
}

/*==========  Start  ==========*/
.button-start {
  font-size: 10vw;
  border-radius: 50%;
  height: 60vw;
  width: 60vw;
  background-color: var(--start-color);
  border-color: var(--start-color-alt);
  box-shadow: 0px 5px 0px var(--start-color-alt);
  text-shadow: 1px 1px 1px var(--start-color-alt);
}

/*==========  Stop  ==========*/
.button-stop {
  border-radius: 10px;
  width: 60vw;
  background-color: var(--stop-color);
  border-color: var(--stop-color-alt);
  box-shadow: 0px 5px 0px var(--stop-color-alt);
  text-shadow: 1px 1px 1px var(--stop-color-alt);
}


.time {
  font-size: 25rem;
}

@media only screen and (min-width: 992px) {
  .button-start,
  .button-stop {
    width: 250px;
  }
  .button-start {
    height: 250px;
    font-size: 5rem;
  }
}
